/* Universal section */

html {
  font-size: 18px;
}

@media only screen and (max-width: 1150px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (max-width: 360px) {
  html {
    font-size: 14px;
  }
}


body {
  margin: 0;
  background-color: whitesmoke;
  font-family: Helvetica;
  line-height: 1.4;
  color: #4a4a4a;
}

h1 {
  font-size: 2rem;
  font-weight: bold;
}

h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

a {
  color: #4a4a4a;
  text-decoration: none;
}

/* Header section */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem 0;
  position: fixed;
  background-color: white;
  min-width: 285px;
  font-size: 1rem;
  z-index: 1;
  font-weight: 600;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 1.25rem;
  font-family: Montserrat, Helvetica, sans-serif;
}

.logo img {
  height: 2rem;
  padding-left: 1.5rem;
  padding-right: 0.5rem;
}

.bold {
  font-weight: bold;
}

.grey {
  color: grey;
}

nav {
  width: 100%;
  text-align: right;
}

nav ul li {
  display: inline-block;
  padding: 0 0.5rem;
}

/* Adding a little "button" to distinguish the 'Sign in' link*/
nav ul li:last-child {
  padding: 0.6rem 0.8rem;
  margin-right: 1rem;
  border-radius: 5px;
  background-color: #FFE700;
}

/* Experimenting with pseudo-classes
nav ul li:last-child:hover {
  box-shadow: 2px 2px 2px #888888;
}
*/

.mobile-nav {
  display: none;
}

/* Squeezing the text to get a bit more use of nav bar */
@media only screen and (max-width: 670px) {
  header {
    font-size: 14px;
  }
  .logo {
    font-size: 1rem;
  }
  nav ul li:first-child {
    padding: 0;
  }
}

/* Swapping to mobile nav bar */
@media only screen and (max-width: 580px) {
  .logo {
      display: none;
  }
  nav ul {
    display: none;
  }
  nav ul li:last-child {
    background: inherit;
  }
  .mobile-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  nav img {
    height: 2.5rem;
  }
}

/* An even tinier version of the nav bar */
@media only screen and (max-width: 360px) {
  header {
    padding: 0.5rem 0 0 0;
  }
  nav img {
    height: 2rem;
  }

  .main {
    padding-top: 3rem;
  }
}


/* Main container, mostly to handle relative positioning?
And maybe really large screen width? */
.main {
  min-width: 285px;
  margin: auto;
  flex-direction: column;
  position: relative;
  padding-top: 4rem;
}

@media only screen and (max-width: 360px) {
  .main {
    padding-top: 2.5rem;
  }
}


/* Banner section */

.banner {
  width: 100%;
  background-color: lightgrey;
  display: flex;
  align-items: center;
}

.banner img {
  padding: 2rem 1.5rem;
  width: 60%;
}

.cta {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.button {
  text-align: center;
  width: 300px;
  padding: 0.75rem 0; /*Instruction says 0.5rem but that's clearly too flat */
  background-color: #4a4a4a;
  color: white;
}

@media only screen and (max-width: 1000px) {
  .banner {
    flex-direction: column;
    align-items: center;
  }
  .banner img {
    width: 100%;
    padding: 0;
  }
  .cta {
    margin: 2rem 0;
  }

  /* So apparently media queries can be nested */
  @media only screen and (min-width: 700px) {
    .cta {
      text-align: center;
      align-items: center;
    }
    /* Using a linebreak to 'balance' the text, but
    not displayed in a certain interval */
    .cta br {
      display: none;
    }
  }

  @media only screen and (max-width: 360px) {
    .cta {
      width: auto;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    .button {
      width: auto;
    }
  }
}


/* Info section */

.info {
  display: flex;
}

.quote {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
  border-right: 1px solid lightgrey;
}

.quote img {
  width: 100%;
}

.quote h1 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.quote .person {
  font-size: 0.75rem;
  margin-top: 2rem;
}

.box-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.box {
  display: flex;
  padding: 1rem;
  border-bottom: 1px solid lightgrey;

  transition: background-color 1s;
}

/* Switches box color on mouse hover */
.box:hover {
  background-color: lightgrey;
}

.box p {
  margin: 0.5rem 0;
}

.box.orientation {
  padding-top: 2rem;
/* Spec has border-bottom: 3px double lightgrey; but it's ugly */
}

/* In spec, switched to :hover for all boxes
.box.guest {
  background-color: lightgrey;
}
*/

.box-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1.5rem;
}

.box img {
  display: inline-block;
  width: 35%;
  height: 35%;
}

img.mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .quote {
    display: none;
  }
  .box-container {
    width: 100%;
  }
  .box {
    flex-direction: column;
    align-items: center;
    padding: 0 1rem;
    border-bottom: none;
  }

  .box:hover {
    background-color: inherit;
  }

  .box.orientation {
    padding-top: 1rem;
  }
  .box.campus {
    margin: 3rem 0;
  }
  .box-content {
    width: 100%;
    margin: auto; /* still not totally sure how this works */
    padding: 1rem 0rem 1rem 1rem;
  }

  .box-container .box:last-child {
    margin-bottom: 1rem;
  }

/* Swapping in mobile images */
  .info .box img {
    display: none;
  }
  .box img.mobile {
    display: inline-block;
    width: 100%;
  }
}

.box a {
  color: dodgerblue;
}



/* Courses section */

.thesis h1 {
  text-align: center;
  margin-top: 2rem;
}

.courses {
  background-color: #ebebeb;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 3.5rem;
}

.course-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.subject {
  background-color: white;
  /* This was the most difficult part for me to get right,
  I'm still not sure how this flex works */
  flex-basis: 300px;
  flex-grow: 1;
  margin: 1rem;

  transition: box-shadow 1s;
}

/* Transitions into a shadow around
the subject box on mouse hover */
.subject:hover {
  box-shadow: 0px 0px 30px #444444;
}

/* Had trouble getting these imgs to show right */
.subject img {
  width: 100%;
}

.course-description {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
}

.course-description h2,
.course-description p {
  margin-bottom: 0.5rem;
}

.course-description p {
  color: grey;
}

.courses.mobile {
  display: none;
}

@media only screen and (max-width: 800px) {
  .courses {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgrey;
    background-color: whitesmoke;
    padding: 2rem 1rem;
  }

  .courses .course-container {
    display: block;
    min-width: 170px;
  }
  .courses h1{
    margin-bottom: 0.5rem;
  }

  .subject img,
  .subject p {
    display: none;
  }

  .subject {
    width: 100%;
    background-color: lightgrey;
    margin: 0.5rem 0 0 0;
    border-radius: 2px; /* Softening the corners a teeny bit */
  }

  /* What was an okay shadow for the big .subject boxes
  became overpowering in this format */
  .subject:hover {
    box-shadow: 0px 0px 8px #666666;
  }
}


/* Thesis section - much of it reused from info section */

.exhibit {
  display: flex;
}

.thesis h1 {
  text-align: center;
}

/* I guess I should have come up with a better name for this div */
.video {
  width: 60%;
  display: flex;
  flex-direction: column;
  padding: 2rem 1.5rem;
}

.video video {
  align-items: flex-start;
  width: 100%;
}

.video h2 {
  text-align: left;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

/* Dropping the border from info section but keeping hover effect */
.thesis .box {
  border-bottom: none;
  border-radius: 2px;
}

.box.fisma {
  margin-top: 2rem;
/* In spec, switched to :hover for all boxes
  background-color: lightgrey; */
}

@media only screen and (max-width: 800px) {
  .video {
    width: 100%;
    padding: 2rem 0 0 0;
  }
  .video h2,
  .video p {
    display: none;
  }
  .thesis .box-container {
    display: none;
  }
}


/* Footer section */

footer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 5rem;
  padding-top: 1rem;
  min-width: 240px;

  width: 100%;
  border-top: 1px solid lightgrey;

  font-size: 0.75rem;
}

footer span {
  padding-left: 1.5rem;
}

footer .links ul {
  padding-right: 1.5rem;
}

footer .links ul li {
  display: inline-block;
  padding-left: 0.75rem;
}

@media only screen and (max-width: 600px) {
  footer {
    padding-top: 2.5rem;
    height: 2rem;
  }
  footer .links {
    display: none;
  }
}
